@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap');



*{
    margin: 0px;
    padding: 0px;
    font-family: 'Abhaya Libre', serif;
    /* font-family: 'Abril Fatface', cursive; */
}
/*---------- Parent / Root Container ----------*/
.landing-page-container{
    display: flex;
    width: 100vw;
}

/*---------- Hero-Section Container ----------*/
.hero-section-container{
    width: 50vw;
    display: flex;
    flex-direction: column;
}
/*---------- Hero-Section Container NavBar ----------*/
.hero-section-container #main-nav {
    display: flex;
    box-shadow:  0px 3px 5px #8888;
    border-radius: 7px;
    height: 4.2rem;
    justify-content: space-between;
}
.hero-section-container #main-nav #main-logo{
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    margin-bottom: 0.5rem;
    padding: 1rem;
    padding-left: 1.5rem;
    align-items: center;
    justify-content: center;
}

.hero-section-container #main-nav #find-us{
    display: flex;
    margin: 1rem;
    padding: 1rem;
    padding-top:1.5rem;
    align-items: center;
    justify-content: space-evenly;

}

.hero-section-container #main-nav #find-us #find-us-logo{
   padding-right: .3rem;
}


/*---------- Header-Section ----------*/
.hero-section-container .header-section{
    height:90vh;
    margin: 5rem;
    padding: 5rem;
    
}

.hero-section-container .header-section #main-heading{
    font-family: 'Abhaya Libre', serif;
    font-size: 55px;
    font-weight:1000;
    justify-content: center;
    
}

.hero-section-container .header-section #sub-heading{
    font-family: 'Abhaya Libre', serif;
    font-size: 30px;
    font-weight:1000;
    padding-bottom: 1rem;
    margin-top: -10px;
}

.hero-section-container .header-section #info-text{
    font-family: 'Abhaya Libre', serif;
    margin-top: .6rem;
    color: #736F6F;
    font-size: 20px;
    font-weight: 400;
    width: 25vw;
}

.hero-section-container .header-section #explore-btn-container{
    font-family: 'Abhaya Libre', serif;
    background: #362077;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    width: 6.6rem;
    height: 2.2rem;
    margin-top: 1.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 3px;
    box-shadow: -7px 4px 10px #333;
    cursor: pointer;
}

.hero-section-container .header-section #explore-text{
    padding-right:0.5rem ;
}

/*---------- Image-Section-Container ----------*/
.image-section-container{
    width: 50vw;
}